.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 2%;
    overflow-x: hidden;
}

.register-side-img{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
}

.register-side-img img{
    width: 714px;
    height: 400px;
}

form h1{
    font-size: 38px;
    font-weight: bold;
    color: rgb(106,109,141);
}

.register-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-fields input{
    padding: 20px 13px;
    background: transparent;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;

}

.register-fields input::placeholder{
    color:rgb(119, 119, 119) ;
}

.checkBox{
    display: flex;
    align-items: center;
    gap: 5px;
} 

.checkBox p{
    font-size: 13px;
    color: rgb(144,146,170);
}

.register-form-content{
    width: 40%;
    margin-bottom: 20px;
    z-index: 3;
}

.register-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.register-btn button{
    background: linear-gradient(rgb(172, 244, 222), rgb(123, 144, 247));
    width: 100%;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    cursor: pointer;
}

.already-account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.already-account p{
    font-size: 13px;
    color: rgb(144,146,170);
}

.already-account p a{
    color: rgb(227,138,229);

}

/* Responsiveness */
@media screen and (max-width: 1236px){

    .register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 6%;
    }
    .register-side-img img{
        width: 670px;
        height: 360px;
    }

    .register-side-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form h1{
        font-size: 19px;
        margin-bottom: -4px;
    }

    .register-fields input{
        padding: 13px 7px;
    }

    .register-btn a button{
        padding: 13px 8px;
    }

    .register-form-content{
        width: 40%;
    }

}

@media screen and (max-width: 900px){
    .register-side-img img{
        width: 460px;
        height: 260px;
    }
    .register{
        margin-top: -2%;
    }
}


@media screen and (max-width: 650px){
    .register-side-img img{
        width: 410px;
        height: 250px;
    }

    .form h1{
        font-size: 19px;
    }

    .register-btn button{
        font-weight: 500;
        font-size: 11px;
    }

    .register-btn{
        margin-top: 2px;
    }

    .register-fields input::placeholder{
        font-size: 11px;
    }

    .register-form-content{
        width: 50%;
    }
    .checkBox p{
        font-size: 12px;
    }

    .already-account{
        margin-top: 5px;
    }
}

@media screen and (max-width: 545px){
    .register-side-img img{
        width: 350px;
        height: 220px;
    }
    .register-form-content{
        width: 80%;
    }

    .register{
        margin-top: 3%;
    }

    .register-fields input{
        padding: 5px 5px;
    }

    .register-btn button{ 
        padding: 8px 5px;
    }

    .register-fields input::placeholder{
        font-size: 10px;
    }

    .checkBox p{
        font-size: 10px;
    }

    .register-fields{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .already-account p{
        font-size: 11px;
    }
    
    .already-account p a{
        color: rgb(227,138,229);
    
    }
}

